*
!.gitignore
!LICENSE
!VERSION
!README.adoc
!CHANGELOG.adoc
!AGENTS.md
!dub.sdl
!source/
!source/**
!assets/
!assets/**
!installer/
!installer/**
!changelog-details/
!changelog-details/**
!.github/
!.github/**
!.devcentr/
!.devcentr/**
!docs/
!docs/**
